/vendor
/images/**
/cache/**
/backup/**
/tmp/**
/user/plugins/
!/user/plugins/sitemap/sitemap.php
/user/data/notifications/
/user/data/feed/
/assets/admin-preset.css
/logs/grav.log
.env.local
!.gitkeep
.sass-cache/