<section id="header" class="section bg-sec">
	<section class="container">
		<nav class="navbar">
			<section class="navbar-section logo">
				{% include 'partials/logo.html.twig' %}
				<div class="web-title"> —&nbsp; Begeisterung für die Musik seit 1946</div>
			</section>
			<section id="mobile-menu" class="navbar-section mobile-nav" onclick="toggleNavigationMenu()">
				<div class="icon">
					<i></i>
				</div>
			</section>
		</nav>
	</section>
	<div class="mobile-navigation" id="mobile-navigation">
		{% include 'partials/navigation.html.twig' %}
	</div>
</section>
