<section id="header" class="section bg-sec">
	<section class="container {{ grid_size }}">
		<nav class="navbar f">
			<section class="navbar-section logo">
				{% include 'partials/logo.html.twig' %}
			</section>
			<section class="navbar-section link">
				{% if (home_url is same as("/")) %}
					<a class="nav-link" href="{{ home_url }}uebersicht">Übersicht</a>
				{% endif %}
				{% if (home_url is not same as("/")) %}
					<a class="nav-link" href="{{ home_url }}/uebersicht">Übersicht</a>
				{% endif %}
			</section>
		</nav>
	</section>
</section>
