/* ------------------------------------------- import css ------------------------------------------- */
@import url(./main.css);
@import url(./elements.css);
@import url(./pages.css);
@import url(./sizes.css);
@import url(./header-footer.css);
@import url(./navigation.css);
@import url(./table.css);

/* ------------------------------------------- css reset ------------------------------------------- */
* {
	box-sizing: border-box;
}

/* ------------------------------------------- colors ------------------------------------------- */
:root {
	/* settings - color */
	--bg-color: #ffffff;
	--pri-text-color: #3d3d3d;
	--sec-text-color: #ffffff;
	--pri-bg-color: #ffffff;
	--sec-color: #4063cb;
	--prim-color: #4063cb;

	/* hero image overlay - color */
	--overlay-dark: #00000033;
	--overlay-dark-grad-from: #0000004d;
	--overlay-dark-grad-to: #00000000;
}
