/* ------------------------------------------- import css ------------------------------------------- */
@import url(./main.css);
@import url(./elements.css);
@import url(./sizes.css);
@import url(./responsive.css);

/* ------------------------------------------- css reset ------------------------------------------- */
* {
	box-sizing: border-box;
}

/* ------------------------------------------- colors ------------------------------------------- */
:root {
	/* settings - color */
	--pri-text-color: #3d3d3d;
	--sec-text-color: #ffffff;
	--pri-bg-color: #ffffff;
	--sec-color: #3f6e39;
	--prim-color: #458c3c;

	/* hero image overlay - color */
	--overlay-dark: #00000033;
	--overlay-dark-grad-from: #0000004d;
	--overlay-dark-grad-to: #00000000;
}
