/* ------------------------------------------- header / footer ------------------------------------------- */
#header,
#footer,
.header-dark #header,
.header-dark #header:not(.scrolled) {
	background-color: var(--sec-color);
}

#header {
	border: 0;
	height: 4rem;
	padding: 0.5rem;
}

#header .container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#header nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .navbar-section {
	width: fit-content;
	height: 3rem;
}

#header .logo img {
	height: 3rem;
}

.web-title {
	font-size: 1rem;
	color: white;
	margin-left: 1rem;
}

#footer {
	margin-top: 2rem;
	color: white;
	font-size: 0.9rem;
}

#footer a {
	color: white;
}

#footer a:hover {
	opacity: 0.8;
}
