@media screen and (max-width: 1400px) {
	#page-wrapper {
		padding: 0 4rem;
	}
	.hero {
		height: 25rem;
	}
}

@media screen and (max-width: 1200px) {
	#page-wrapper {
		padding: 0 2rem;
	}

	.hero {
		height: 20rem;
	}
	.hero h1 {
		font-size: 2.4rem;
	}
}

@media screen and (max-width: 800px) {
	.hero h1 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 800px) {
	#page-wrapper {
		padding: 0 1rem;
	}
	.hero h1 {
		font-size: 1.8rem;
	}
}
